<!DOCTYPE html>
<html>
<head>
	
	<%= favicon_link_tag %>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300' rel='stylesheet' type='text/css'>
  
 	<title>Blog</title>
 	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 	<%= csrf_meta_tags %>
</head>
<body>
	
	<% if flash[:notice] %>
		<p class="flash"><%= flash.notice %></p>
	<% end %>

	<%= yield %>

</body>
</html>
