<p id="notice"><%= notice %></p>

<h1>Listing Bears</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bears.each do |bear| %>
      <tr>
        <td><%= bear.name %></td>
        <td><%= bear.bio %></td>
        <td><%= bear.age %></td>
        <td><%= link_to 'Show', bear %></td>
        <td><%= link_to 'Edit', edit_bear_path(bear) %></td>
        <td><%= link_to 'Destroy', bear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bear', new_bear_path %>
